*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: white;
    overflow-x: hidden;
}

/* header */
.header{
    height: 80px;
    background: #12355e;
    padding: 0px 30px;
    color: white;
}
.logo{
    line-height: 80px;
    font-size: 35px;
    float: left;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.menu{
    float: right;
    line-height: 80px;
}
.menu a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
}
.show-btn,.hide-btn{
    transition: 0.4s;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.show-btn{
    float: right;
}
.show-btn i{
    line-height: 80px;
}
.menu a:hover,
.show-btn:hover,
.hide-btn:hover{
    color: #3498db;
}
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}


.one{
    margin: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.head{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 88, 135);
    color: white;
}

.nama, .kampus{
    padding: 5px;
}

.two{
    justify-content: center;
    align-items: center;
    display: flex;
}

table{
    width: 50%;
    background-color: aliceblue;
    border-collapse: collapse;
    text-align: center;
    justify-content: center;
    color: white;
}

th{
    background-color: rgb(8, 88, 135);
    padding: 7px;
    border-style: solid;
    border-color: black;
}

td{
    padding: 7px;
    border-style: solid;
    border-color: black;
    color: black;
    cursor: pointer;
}

tr:hover{
    background-color: rgb(248, 252, 255);
}

.three{
    justify-content: center;
    align-items: center;
    display: flex;
}

.teks{
    background-color: rgb(235, 235, 235);
    width: 70%;
    padding: 20px;
    margin: 15px;
    margin-top: 50px;
    border-radius: 10px;
}

.judul{
    padding-bottom: 10px;
}

.isi{
    padding-top: 10px;
}


@media screen and (max-width:800px) {
    .show-btn,.hide-btn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .hide-btn{
        position: absolute;
        top: 30px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
}
